header {
    width: 100%;
    background-color: beige;
    margin-bottom: 50px;
    float: left;
    clear: right;
}

.logo {
    width: 150px;
    float: left;
}

.company-name {
    font-size: xx-large;
    margin-left: 200px;
}

.company-moto {
    font-size: x-large;
    margin-left: 200px;
}

footer {
    width: 100%;
    background-color: beige;
    margin-top: 50px;
    padding: 30px;
}

