{{> toolbar }}

<main class="add-profile">
    <h2 class="add-title">
        Edit employee profile
        <a href="/edit">
            <input type="submit" value="Save" form="edit-form" class="btn btn-outline-primary save-btn">
            </input>
        </a>
    </h2>

    <form id="edit-form" action="/edit" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{profile.id}}">
        {{> profile-form }}
    </form>
</main>