{{> toolbar }}

<main>
    {{#if flash}}
        {{#if (equals flash.type "login") }}
            <div class="alert alert-success" role="alert">
                Welcome, {{flash.name}}!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
        {{#if (equals flash.type "logout") }}
            <div class="alert alert-success" role="alert">
                You have been logged out. Bye!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{/if}}
    {{/if}}

    <h2 class="list-title">
        Employee Directory
        {{#if session.authenticated}}
            <a href="/add">
                <button type="button" class="btn btn-outline-primary add-btn">
                    Add Employee&nbsp;&nbsp;&nbsp;+
                </button>
            </a>
        {{/if}}
    </h2>

    <table class="table table-striped list">
        {{#each profiles as |profile|}}
            <tr>
                <td>
                    {{#if profile.picture}}
                        <img src="/pictures/{{profile.picture}}" alt="">
                    {{else}}
                        <img src="/static/img/generic-profile.jpg" alt="">
                    {{/if}}
                    <h5><a href="/profile/{{profile.id}}">{{capitalize profile.name}}</a></h5>
                    <p>{{capitalize profile.career}}</p>                
                </td>
            </tr>
        {{/each}}
</table>
</main>