{{> toolbar }}

<main class="login-page mx-auto">
    <h2 class="page-title">
        Login as an administrator
    </h2>

    <form id="login-form" action="/login" method="post">
        <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password*</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="Send" class="btn btn-primary login-btn mx-auto">
    </form>
</main>