
{{> toolbar }}



{{#if session.authenticated}}
  <a href="/edit/{{id}}">
    <button type="button" class="btn btn-primary edit-btn">
      Edit profile
    </button>
  </a>
{{/if}}

<main class="profile-detail">
    {{#if flash}}
      {{#if (equals flash.type "edit-success") }}
            <div class="alert alert-success" role="alert">
                User edited successfully.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
      {{/if}}
      {{#if (equals flash.type "edit-error") }}
            <div class="alert alert-danger" role="alert">
                Failed to update profile.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
      {{/if}}      
    {{/if}}

    <h3>{{capitalize name}}'s profile</h3>

    {{#if picture}}
        <img src="/pictures/{{picture}}" alt="">
    {{else}}
        <img src="/static/img/generic-profile.jpg" alt="">
    {{/if}}

    <p>Hi, I'm {{capitalize name}}.</p>
    <p>I was born in {{parseYear birthdate}}, so that I'm now {{userAge (parseYear birthdate)}} years old.</p>

    {{#if career}}
        <p>I work with {{capitalize career}}, that's a cool carreer!</p>
    {{else}}
        <p>I haven't started a career yet --- and that's cool.</p>
    {{/if}}

    <p>Now, let's read my bio: {{{bio}}}</p>
    <p>See you later!</p>
</main>