{{> toolbar }}

<main>
    {{#if (equals type "unknown_user")}}
        <h3>Ops! we found an error</h3>
        <p>Sorry. We could not find user with id {{params.id}} in our records.</p>
    {{/if}}
    {{#if (equals type "user_add_error")}}
        <h3>Ops! we found an error</h3>
        <p>Sorry. We found a problem when saving the profile data. Please try again later.</p>
    {{/if}}
    {{#if (equals type "user_add_success")}}
        <h3>Everything is OK</h3>
        <p>New profile successfully added.</p>
    {{/if}}
    {{#if (equals type "invalid_login")}}
        <h3>Login data invalid</h3>
        <p>Check if you typed both your email and password</p>
    {{/if}}
    {{#if (equals type undefined)}}
        <p>Sorry. We could not determine the source of this error. Admins have been notified.</p>
    {{/if}}
</main>
