<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple EJS example</title>
</head>
<body>
    <main>
        <p>Hello, <%= fname %> <%= lname %>!  </p>
        <p>This was generated with EJS.</p>
    </main>
</body>
</html>