{{!-- Global layout --}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associated Consulting, Inc.</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img class="logo" src="/static/img/company_logo.jpg" alt="">
        <div class="company-name">Associated Consulting, Inc.</div>
        <div class="company-moto">Making projects happen</div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        Copyright, 2020, Associated Consulting Inc.
    </footer>
</body>
</html>