<!DOCTYPE html>

<html>
    <head>
        <title>ToDo!</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/reset.css" type="text/css">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="container">
                <h1>ToDo!</h1>
                <nav>
                    <a href="#">Sign Up!</a> |
                    <a href="#">FAQ</a> |
                    <a href="#">Support</a>
                </nav>
            </div>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <div class="container">
                <div class="contact">
                    <h5>Contact Us</h5>
                    <p>ToDo!</p>
                    <p>Av. Faria Lima</p>
                    <p>São Paulo, SP, Brasil</p>
                </div>
                <div class="sitemap">
                    <h5>Sitemap</h5>
                    <ul>
                        <div class="left">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy</a></li>
                        </div>
                        <div class="right">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Careers</a></li>
                        </div>
                    </ul>
                    
                </div>
            </div>
        </footer>
    </body>
</html>
