<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Add Employee</li>
  </ol>
</nav>

<main class="add-profile">
    <h2 class="add-title">
        New employee profile
        <a href="/add">
            <input type="submit" value="Save" form="add-form" class="btn btn-outline-primary save-btn">
            </input>
        </a>
    </h2>

    <form id="add-form" action="/add" method="post">
        <div class="form-row">
            <div class="col form-group">
                <label for="fname">First Name*</label>
                <input type="text" name="fname" class="form-control" required>
            </div>
            <div class="col form-group">
                <label for="lname">Last Name*</label>
                <input type="text" name="lname" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-4 form-group">
                <label for="birthdate">Birth date*</label>
                <input type="date" name="birthdate" class="form-control" required/>
            </div>
            <div class="col-8 form-group">
                <label for="career">Career*</label>
                <input type="text" name="career" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label for="bio">Bio*</label>
                <textarea name="bio" id="bio" cols="30" rows="10" class="form-control" required></textarea>
            </div>
        </div>
    </form>
</main>