<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
    </ol>
</nav>

<main>
    <h2 class="list-title">
        Employee Directory
        <a href="/add">
            <button type="button" class="btn btn-outline-primary add-btn">
                Add Employee&nbsp;&nbsp;&nbsp;+
            </button>
        </a>
    </h2>

    <table class="table table-striped list">
        {{#each profiles as |profile|}}
            <tr>
                <td>
                    <img src="/static/img/generic-profile.jpg" alt="">
                    <h5><a href="/profile/{{profile.id}}">{{capitalize profile.name}}</a></h5>
                    <p>{{capitalize profile.career}}</p>                
                </td>
            </tr>
        {{/each}}
</table>
</main>