<div class="form-row">
    <div class="col form-group">
        <label for="name">Name</label>
        <input type="text" value="{{profile.name}}" name="name" class="form-control" required>
    </div>
</div>
<div class="form-row">
    <div class="col-4 form-group">
        <label for="birthdate">Birth date*</label>
        <input type="date" value="{{formatDate profile.birthdate}}" name="birthdate" class="form-control" required/>
    </div>
    <div class="col-8 form-group">
        <label for="career">Career*</label>
        <input type="text" value="{{profile.career}}" name="career" class="form-control" required>
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label for="picture">Picture</label>
        <input type="file" name="picture">
    </div>
</div>
<div class="form-row">
    <div class="col form-group">
        <label for="bio">Bio*</label>
        <textarea name="bio" id="bio" cols="30" rows="10" 
            class="form-control" required>{{profile.bio}}</textarea>
    </div>
</div>