<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/handlebars/handlebars.min.js"></script>
    <script src="app.js"></script>

    <script id="table-template" type="text/x-handlebars-template">
        {{#if (hasData counts)}}
            <table id="term-stats">
                <tr>
                    <th>Term</th>
                    <th>Count</th>
                </tr>
                {{#each counts as |count|}}
                    <tr>
                        <td>{{@key}}</td>
                        <td id="{{@key}}">{{count}}</td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <p>Sorry, no data was received from our servers.</p>
        {{/if}}
    </script>

    <title>Tweet real time keyword tracker</title>
</head>
<body>
    <header>
        <h1>Twitter stream keyword tracker</h1>
    </header>
    <main>

    </main>
</body>
</html>