<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Handlebars example with alternate global layout</title>
</head>
<style>
    main {
        color: red;
        font-size: large;
        font-weight: bold;
    }
</style>
<body>
    {{{body}}}
</body>
</html>