<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Handlebars example</title>
</head>
<body>
    {{{body}}}
</body>
</html>