{{#if (equals code 'err_required_fields')}}
    <p>All todo item fields are required.</p>
{{/if}}
{{#if (equals code 'succ_add')}}
    <p>Todo item successfully added.</p>
{{/if}}
<br>
<p><a href="/">Home</a></p>