<div class="container">
    <div class="tabs">
        <a href="/newest"><span id="newest">Newest</span></a>
        <a href="/oldest"><span id="oldest">Oldest</span></a>
        <a href="/tags"><span id="tags"  class="active">Tags</span></a>
        <a href="/add"><span id="add">Add</span></a>
    </div>
    <div class="content">
        <ul>
            {{#each tags as |tag|}}
                <h3>{{@key}}</h3>
                {{#each tag as |todoDesc|}}
                    <li>{{todoDesc}}</li>
                {{/each}}
            {{/each}}
        </ul>
    </div>
</div>