/* notification styling inspirted by Tuomas Pöyry http://codepen.io/Munkkeli/pen/xJFzl */

.notification {
    display: flex;
    margin: 0 auto 10px auto;
    width: 350px;
    min-height: 70px;
    position: absolute;
    right: -350px;
    top: 100px;    
    opacity: 0;    
}
.notification .info {
  -webkit-flex: 1;
  flex: 1;
  padding: 10px 10px 0 10px;
  background: #ecf0f1;
  border-radius: 3px 0 0 3px;
  border-bottom: 3px solid #c0cdd1;
}

.notification .info h1 {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #111;
}
.notification .icon {
  padding: 15px 0 0 0;
  width: 70px;
  border-radius: 0 3px 3px 0;
  text-align: center;
  font-size: 32px;
  color: #ecf0f1;
  border-bottom: 3px solid;
}
.notification .icon {
  background: #2980b9;
  border-bottom-color: #20638f;
}
.notification .info .btn {
  display: inline-block;
  margin: 3px 3px 5px 0;
  padding: 3px 7px;
  border-radius: 2px;
  border-bottom: 1px solid;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #ecf0f1;
}
.notification .info .btn {
  background: #2980b9 !important;
  border-bottom-color: #20638f !important;
}
