<%- include('header') %> 

<h3>Ops! we found and error</h3>

<% if (type == 'unknown_user') { %>
<p>Sorry. We could not find user with id <%= params.id %> in our records. </p>
<% } else { %> 
 <p>Sorry. We could not determine the source of this error. Admins have been notified.</p>
<% } %>

<%- include('footer') %> 