<%# A whole profile template in a single file %>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associated Consulting, Inc.</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <% 
        var capitalize = (s) => {
            return s.split(' ')
                .map((e) => 
                    e.charAt(0).toUpperCase() + e.slice(1).toLowerCase()
                ).join(' ');
        };

        var userAge = (birthyear) => {
            return (new Date()).getFullYear() - birthyear;
        };
    %> 
    <header>
        <img class="logo" src="/static/img/company_logo.jpg" alt="">
        <div class="company-name">Associated Consulting, Inc.</div>
        <div class="company-moto">Making projects happen</div>
    </header>
    <main>
        <h3><%= name %> 's profile</h3>
        <p>Hi, I'm <%= capitalize(name) %> </p>
        <p>I was born in <%= birthyear %>, so that means I'm now <%= userAge(birthyear) %> years old. </p>
        <% if (typeof career != 'undefined') { %>
           <p> I work with <%= capitalize(career) %> , that's a cool career!</p>
        <% } else { %>
            <p>I haven't mentioned a career yet --- and that's cool.</p>
        <% } %> 
        <p>Now, let's read my bio: <%- bio %> </p>
        <p>See you later!</p>
    </main>
    <footer>
        Copyright, 2020, Associated Consulting Inc.
    </footer>
</body>
</html>