<%- include('header') %> 

<% 
    var capitalize = (s) => {
        return s.split(' ')
            .map((e) => 
                e.charAt(0).toUpperCase() + e.slice(1).toLowerCase()
            ).join(' ');
    };

    var userAge = (birthyear) => {
        return (new Date()).getFullYear() - birthyear;
    };
%> 

<main>
    <h3><%= name %> 's profile</h3>

    <img src="<%= `/static/img/profile_${id}.jpg` %> " alt="">

    <p>Hi, I'm <%= capitalize(name) %> </p>
    <p>I was born in <%= birthyear %>, so that means I'm now <%= userAge(birthyear) %> years old. </p>
    <% if (typeof career != 'undefined') { %>
        <p>I work with <%= capitalize(career) %> , that's a cool career!</p>
    <% } else { %>
        <p>I haven't mentioned a career yet --- and that's cool.</p>
    <% } %> 
    <p>Now, let's read my bio: <%- bio %> </p>
    <p>See you later!</p>
</main>

<%- include('footer') %> 