
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item">Profile detail</li>
  </ol>

</nav>

<main class="profile-detail">
    <h3>{{capitalize name}}'s profile</h3>

    <img src="/static/img/generic-profile.jpg" alt="">

    <p>Hi, I'm {{capitalize name}}.</p>
    <p>I was born in {{parseYear birthdate}}, so that I'm now {{userAge (parseYear birthdate)}} years old.</p>

    {{#if career}}
        <p>I work with {{capitalize career}}, that's a cool carreer!</p>
    {{else}}
        <p>I haven't started a career yet --- and that's cool.</p>
    {{/if}}

    <p>Now, let's read my bio: {{{bio}}}</p>
    <p>See you later!</p>
</main>