
<h3>{{name}}'s profile</h3>

<img src="/static/img/profile_{{id}}.jpg" alt="">

<p>Hi, I'm {{capitalize name}}.</p>
<p>I was born in {{birthyear}}, so that I'm now {{userAge birthyear}} years old.</p>

{{#if career}}
    <p>I work with {{capitalize career}}, that's a cool carreer!</p>
{{else}}
    <p>I haven't started a career yet --- and that's cool.</p>
{{/if}}

<p>Now, let's read my bio: {{{bio}}}</p>
<p>See you later!</p>